.meme-generator {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    flex-direction: row;
}

.meme-generator .meme-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.meme-generator .meme-form label {
    margin: 5px auto 15px auto;
}

.meme-generator .meme-form label input {
    width: 300px;
    line-height: 2em;
    font-size: larger;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
}

.meme-generator .meme-form label p {
    margin-top: 2px;
    text-align: center;
}

.meme-generator .meme-form .slider {
    -webkit-appearance: none;

    height: 5px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.meme-generator .meme-form .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: #6d139e;
    cursor: pointer;
  }

.meme-generator .meme-form .range-labels {
    display: flex;
    flex-direction: row;
}

.meme-generator .meme-form .range-labels .max {
    margin-left: auto;
}

.meme-generator .meme {
    margin:50px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.meme-generator .meme .img-container {
    position: relative;
}

.meme-generator .meme .img-container img {
    height: 300px;
    position: relative;
}

.meme-generator .meme .img-container h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-size: 40px;
    -webkit-text-stroke: 1.5px black;
    position: absolute;
    padding: 0 25px;
    text-transform: uppercase;
    width: 100%;    
    box-sizing: border-box;
    text-align: center;
    margin: 0;
    line-height: 1em;
}

.meme-generator .meme .img-container .top {
    top: 0px;
    margin-top: 5px;
}

.meme-generator .meme .img-container .bottom {
    bottom: 0px;
    margin-bottom: 5px;
}

.meme-generator .meme .button {
    display: block;
    margin-top: 10px;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: #6c0abd;
    width: 200px;
    line-height: 40px;
    border-radius: 15px;
    font-size: 1.5rem;
    font-weight: 600;
    color: whitesmoke;
    background-size: 100% 100%;
    box-shadow: 0 0 0 7px var(--light) inset;
    margin-bottom: 15px;
    text-align: center;
}

.meme-generator .meme .button:hover {
    background-color: #8621da;
}

.meme-generator .meme .button:active {
    background-color: #6d139e;
}